
body {
    /* height: 100vh; */
    /* background-color: grey; */
}
.width-90 {
    width: 90%;
}
.width-95 {
    width: 97%;
}

.img-mw{
    max-width: 160px;
}

@media screen and (max-width: 991px){
    
    .navbar-toggler {
        padding: 0.25rem 0.45rem !important;
    }
}

@media  (min-width: 992px){
    .img-mw {
        max-width: 220px;
    }

    .custom-btn {
        background-color: #fff !important;
        color: #000 !important;
        padding: 0.45rem 1.15rem !important;
        border: 1px solid black;
        border-radius: 0.35rem;
        padding-left: 0;
    }

    .custom-btn:hover{
        box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.262);
        background-color: #ffffffeb !important;
        color: #000000cd !important;
    }

    .nav-item:nth-child(5){
        align-self: center;
    }
}


.aside {
    background-color: #FFCCCC;
    min-height: 475px;
}
.section-1 {
    background-color: #FFD4C7;
    min-height: 225px;
}
.section-2 {
    background-color: #FFCCCC;
    min-height: 225px;
}
.section-3 {
    background-color: #BAB9E2;
    min-height: 250px;
}
.section-4 {
    background-color: #D7BDBD;
    min-height: 250px;
}
.section-5 {
    background-color: #E1FFC3;
    min-height: 250px;
}
.section-6 {
    background-color: #77DFF5;
    min-height: 250px;
}
.section-7 {
    background-color: #D7D4BD;
    min-height: 250px;
}
.btn-close {
    background-color: white;
}
